<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Luke</title>
</head>
<body>
    <h1> Luke Bennett</h1>
    <h2> Academics</h2>
    <p1> I’m Luke, a current Senior majoring in <strong> Information Systems </strong> at the <em> University of Maryland’s Robert H. Smith School of Business </em>. I recently transferred from Anne Arundel Community College where I received my Associates in Business Administration. </p1>
    <!-- This is a paragraph about me -->
    <h2>Values</h2>
    <p1> One value that is important to me is <strong> diversity </strong> due to me being raised in a  <em> uniquely diverse community </em>. This meant that growing up, I had friends of all different ethnicities. This allowed me to be more empathetic towards others while teaching me to value the input of all human beings. Additionally, having friends from all nationalities has given me an open and inviting perspective as I seek to learn and engage people from all walks of life.</p1>

    <h2>My favorite foods</h2>
    <ul>
        <li> Macaroni & Cheese</li>
        <li> Ravioli</li>
        <li> Fettuci Alfredo</li>
    </ul>
    <!-- These are my favorite foods -->
    <h2> My hobbies</h2>
    <ol>
        <li>Hanging out with friends</li>
        <li> Playing the cello</li>
        <li> Reading</li>
    </ol>

    <h2> Courses I've taken</h2>
    <table>
        <tr>
            <th>Course number</th>
            <th>Name</th>
            <th>Semester taken</th>
        </tr>
        <tr>
            <td>BMGT340</td>
            <td>Business Finance</td>
            <td>Fall 2021</td>
        </tr>
        <tr>
            <td>BMGT380</td>
            <td>Business Law</td>
            <td>Fall 2021</td>
        </tr>
        <tr>
            <td>BMGT402</td>
            <td>Database Systems</td>
            <td>Fall 2022</td>
        </tr>
    </table>

    <p> Here is a link to my <a href="https://github.com/lukeb81833/helloWorld">hello.html page</a>.</p>

    <p> Here are two of my favorite websites</p>
    <a href="https://www.reddit.com/r/smashbros/">Smash Bros Subreddit</a>
    <a href="https://www.uniqlo.com/us/en/" target="_blank">Uniqlo</a>

    <p>Here is a image of the Robert H Smith Logo</p>
    <img src="https://terpconnect.umd.edu/~jbono/bmgt407/images/smith-logo.png"
         width="267" height="72" alt="Smith Logo">
    <!-- This is a photo of the Robert H Smith Logo. -->


</body>
</html>